.inner_service {
    
}
.w_content {
    background: #fff;
    padding: 17px 60px 28px;
    margin-top: -18px;
}
.mission_box {
    padding: 44px 0 25px;
}
.mission_title {
    display: inline-block;
    color: #091057;
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;
    vertical-align: middle;
    margin-right: 83px;
}
.mission_title span {
    font-weight: 700;
    font-family: 'Circe Bold';
}
.mission_box .btn_rd_default {
    padding: 4px !important;
}
.mission_box .btn_rd_default span {
    padding: 7px 19px 6px !important;
    font-size: 20px !important;
    font-weight: 700;
    line-height: 24px;
}
.promo_advantages .title {
    display: none;
}
.w_content .promo_advantages {
    margin: 0 0 40px;
    text-align: center;
}
.read_more {
    color: #091057;
    font-family: Circe;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-decoration: underline;
    text-transform: uppercase;
}
.w_content .textedit p {
    font-family: Circe;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    margin: 11px 0 14px;
}
.w_content .services_rd {
    margin-top: -7px;
}
.w_content .services_rd h4 {
    color: #2f3587;
    font-family: "Circe Bold";
    font-size: 23px;
    margin: 69px 0 90px;
    text-align: center;
    text-transform: uppercase;
}
.w_content h4 {
    color: #2f3587;
    font-family: "Circe Bold";
    font-size: 23px;
    text-align: center;
    text-transform: uppercase;
    margin: 55px 0 27px 0 !important;
    text-align: left !important;
}
.video_box .our-promo-title  {
    vertical-align: middle;
}
.video_box .our-promo-title p {
    margin-top: 26px;
}


.posts_row {
    font-size: 0;
}
.post {
    height: 298px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 30px;
    display: inline-block;
    vertical-align: top;
    width: 35%;
}
.big_post {
    width: 62%;
    margin-right: 23px;
}
.post_info {
    position: absolute;
    bottom: 0;
    background-color: rgba(255,255,255,.75);
    color: #2f3587;
    right: 0;
    left: 0;
    width: 100%;
    padding: 15px 19px 10px;
    min-height: 98px;
    max-height: 98px;
    overflow: hidden;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms--transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    box-sizing: border-box;
}
.post_title, .post_title a {
    color: #2f3587;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 9px;
    max-height: 40px;
    overflow: hidden;
}
.post_category {
    color: #2f3587;
    font-size: 14px;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.post_desc {
    color: #404040;
    font-size: 16px;
    line-height: 20px;
    margin-top: 12px;
    height: 140px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms--transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.post_more {
    color: #2f3587;
    font-size: 16px;
    line-height: 20px;
    text-decoration: underline;
    margin-top: 14px;
    display: block;
}
.post:hover .post_info {
    min-height: 100%;
    background-color: rgba(255,255,255,1);
}
.post:hover .post_desc {
    opacity: 1;
    visibility: visible;
}
.filter_dropdown {
    position: absolute;
    width: 100%;
    display: none;
    background: #fff;
    border: 1px solid #606492;
    border-top: 0;
    box-sizing: border-box;
    padding: 20px 20px 5px;
    z-index: 1;
}
.filter_dropdown li {
    margin-bottom: 12px;
}
.filter_dropdown a {
    color: #091057;
    font-family: Circe;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    text-decoration: none;
}
.filter_toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none !important;
    background-image: url(/assets/template/images/icon-select-dropdown.png);
    background-position: right 18px top 26px;
    background-repeat: no-repeat;
    background-size: 15px 10px;
    border: 0;
    display: block;
    margin-bottom: 0;
    padding: 13px 36px 7px 28px;
    width: 290px;
    cursor: pointer;
    height: 60px;
    background-color: #ffd012;
    outline: none;
    color: #091057;
    font-family: Circe;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
}
.filter_item {
    position: relative;
}
.filter_item:last-child {
    margin-right: 0;
}
.questions_button {
    background-color: #269cd9;
    color: white;
    font-family: Circe;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    padding: 20px 0;
    text-align: center;
    display: block;
    text-decoration: none;
}
.col_left, .col_right {
    float: left;
}
.col_left {
    width: 623px;
}
.col_right {
    width: 211px;
    padding-left: 22px;
}
.clearfix:after{
    content:'';
    display:table;
    clear:both;
}
.articles a {
    display: block;
    color: #091057;
    font-family: Circe;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    margin-bottom: 20px;
}
.hiddenParagraph{
    display: none;
}
.innerServiceVideoSlider .video-item-outer{
    width: 100%!important;
}
.innerServiceVideoSlider .video-box-items .swiper-slide{
    min-height: 304px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 999px) {
    .w_content h4 {
        line-height: 30px;
        margin-bottom: 0 !important;
    }
    .post {
        width: 100%;
    }
    .col_left {
        width: 100%;
    }
    .col_right {
        padding: 0;
        width: 100%;
    }
    .filter_item {
        width: 45%;
    }
    .filter_item {
        margin: 0 9% 0 0;
        vertical-align: top;
    }
    .filter_toggle {
        width: 100%;
        font-size: 16px;
    }
}
@media only screen and (max-width: 699px) {
    .w_content {
        padding: 17px 20px 28px;
    }
    .mission_title {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 20px;
    }
    .video_box .our-promo-title {
        width: 100%;
    }
    .our-promo-title p {
        margin: 0 0 20px;
        text-align: left;
        font-size: 17px;
    }
    .our-promo-title {
        width: 100%;
    }
    .filter_item {
        margin: 0 0 10px;
        width: 100%;
    }
}