/*
.promo-category__list{
    margin-left: -15px;
    margin-right: -15px;
}
.promo-category__list *{
    box-sizing: border-box;
}
.promo-category__item{
    float: left;
    width: 33.3%;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
}
@media (max-width: 993px){
    .promo-category__item {
        float: none;
        width: 100%;
    }
}
.promo-category__card{
    max-width: 290px;
    height: 290px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
.promo-category__image{
    height: 100%;
    background-position: 0 center;
}
.promo-category__item a{
    position: static;
}
.promo-category__item img{
    width: 100%;
}
.promo-category__list:after{
    clear: both;
    display: table;
    content: "";
}

.promo-category__caption{
    font-family: 'Circe Bold', sans-serif;
    font-size: 16px;
    text-align: center;
    padding-bottom: 3px;
    min-height: 32px;
    line-height: 110%;
    margin-bottom: 10px;
}
.promo-category__list-main .promo-category__caption{
    font-size: 22px;
    text-transform: uppercase;
}

.promo-category__info{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent url('/assets/template/images/promo/caption__gradient.png') top left repeat-x;
    color: #fff;
    padding: 45px 18px 12px;
    transition: all 0.3s ease 0s;
    opacity: 1;
    height: 100%;
    overflow: hidden;
    transform: translateY(204px);
}
.promo-category__card:hover .promo-category__info{
    height: 100%;
    background: rgba(47,53,135,0.75);
    transition: all 0.3s ease 0s;
    padding-top: 14px;
    transform: translateY(0);
}

.promo-category__card:hover .promo-category__caption{
    border-bottom: 1px #ffc61a solid;
}
.promo-category__list-main .promo-category__info{
    padding-top: 52px;
}
.promo-category__list-main .promo-category__card:hover .promo-category__info{
    padding-top: 20px;
}
@media (max-width: 993px){
    .promo-category__card .promo-category__info{
        height: 100%;
        background: rgba(47,53,135,0.75);
        transition: all 0.3s ease 0s;
        padding-top: 20px;
        transform: translateY(0);
    }
    .promo-category__card .promo-category__caption{
        border-bottom: 1px #ffc61a solid;
    }
}
.promo-category__text {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: left;
    line-height: 130%;
}
.promo-category__card .promo-category__btn .btn_rd_default span{
    padding: 10px 26px 8px !important;
}
.promo-category__btn {
    bottom: 12px;
    left: 20px;
    position: absolute;
    right: 20px;
}
.promo-category__btn .btn_rd_default{
    width: 100%;
}
.promo-category__list-main .promo-category__btn .btn_rd_default{
    text-transform: uppercase;
}
*/
.advantages__caption{
    text-align: center;
    color: #24a0d4;
    font-family: 'Circe Light';
    font-size: 28px;
    margin-bottom: 23px;
}
.advantages__service{
    margin-top: 43px;
    margin-left: 5px;
    margin-bottom: 27px;
}
.advantages__item{
    display: inline-block;
    text-align: center;
    width: 25%;
    vertical-align: top;
}
.advantages__name{
    font-family: 'Circe Light';
    color: #2f3587;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}
.advantages__signature{
    color: #24a0d4;
    font-family: "Circe Light";
    font-size: 16px;
    letter-spacing: 0.3px;
    margin-left: -3px;
    text-align: center;
}
.advantages__images{
    margin-bottom: 28px;
}
@media (max-width: 993px) {
    .advantages__item {
        width: 100%;
        margin-bottom: 30px;
    }
}

.promo-question__bg{
    background: transparent url("/assets/template/images/promo/promo-question__bg.jpg") repeat scroll 0 0;
    height: 290px;
    width: 290px;
}
.promo-question__title{
    color: #2f3587;
    font-family: "Circe Light";
    font-size: 22px;
    margin-bottom: 22px;
    padding-top: 34px;
    text-transform: uppercase;
}
.promo-question__image {
    background: transparent url("/assets/template/images/promo/promo-question__phone.png") repeat scroll 0 0;
    height: 84px;
    margin-bottom: 16px;
    margin-left: 112px;
    width: 78px;
}
.promo-question__lead {
    color: #2f3587;
    font-family: "Circe Light";
    font-size: 22px;
    padding-top: 16px;
}
.promo-question__card .btn_rd_default span {
    font-size: 18px;
    padding: 14px 25px !important;
}


.content ul.b-filter__list {
    margin-bottom: 15px;
    text-align: left;
    margin-top: -10px;
}
.b-filter__list .b-filter__item {
    width: auto;
}
.b-filter__list .b-filter__item:first-child {
    margin-right: 22px;
}
.b-filter__list .b-filter__item a{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #2f3587;
    display: inline-block;
    font: 18px "Circe Bold";
    margin: 5px 0 5px;
    padding: 5px 20px;
    text-decoration: none;
}
.b-filter__list .b-filter__item.active a {
    cursor: text;
}
.b-filter__list .b-filter__item.active a, .b-filter__list .b-filter__item:hover a {
    background: #2f3587 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
}

.form-block {
    margin-top: 24px;
}



.promo-product__list *{
    box-sizing: border-box;
}
.promo-product__item{
    float: left;
    width: 33.3%;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
}

@media (max-width: 993px){
    .promo-product__item {
        float: none;
        width: 100%;
    }
}


.promo-product__card{
    max-width: 290px;
    height: 290px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}


.promo-product__image{
    height: 100%;
    background-position: 0 center;
    background-size: cover;
}
.promo-product__item a{
    position: static;
}
.promo-product__item img{
    width: 100%;
}
.promo-product__list:after{
    clear: both;
    display: table;
    content: "";
}

.promo-product__caption{
    font-family: 'Circe Bold', sans-serif;
    font-size: 16px;
    text-align: center;
    padding-bottom: 3px;
    min-height: 32px;
    line-height: 110%;
    margin-bottom: 10px;
}
.promo-product__info{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent url('/assets/template/images/promo/caption__gradient.png') top left repeat-x;
    color: #fff;
    padding: 45px 18px 12px;
    transition: all 0.3s ease 0s;
    opacity: 1;
    height: 100%;
    overflow: hidden;
    transform: translateY(204px);
}
.promo-product__card:hover .promo-product__info{
    height: 100%;
    background: rgba(47,53,135,0.75);
    transition: all 0.3s ease 0s;
    padding-top: 14px;
    transform: translateY(0);
}

.promo-product__card:hover .promo-product__caption{
    border-bottom: 1px #ffc61a solid;
}
@media (max-width: 993px){
    .promo-product__card .promo-product__info{
        height: 100%;
        background: rgba(47,53,135,0.75);
        transition: all 0.3s ease 0s;
        padding-top: 20px;
        transform: translateY(0);
    }
    .promo-product__card .promo-product__caption{
        border-bottom: 1px #ffc61a solid;
    }
}
.promo-product__text {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: left;
    line-height: 130%;
}
.promo-product__card .promo-product__btn .btn_rd_default span{
    padding: 10px 26px 8px !important;
}
.promo-product__btn {
    bottom: 12px;
    left: 20px;
    position: absolute;
    right: 20px;
}
.promo-product__btn .btn_rd_default{
    width: 100%;
}


/*Для карусели owl отключаем свойства*/
.owl-item .promo-product__item{
    float: none;
    width: auto;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
}
.owl-item .promo-product__card{
    max-width: 270px;
    height: 270px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
.owl-item .promo-product__info{
    transform: translateY(184px);
}
.widget__cart *{
    box-sizing: border-box;
}
.widget__cart{
    width: 60px;
    height: 50px;
    position: fixed;
    right: -10px;
    top: 50%;
    margin-top: -115px;
    border-radius: 5px;
    background-color: #269cd8;
    border: 1px solid #2791c7;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 100;
}

.widget__cart:before{
    width: 28px;
    height: 38px;
    position: absolute;
    top: 5px;
    left: 10px;
    background: transparent url('/assets/template/images/promo/icon__cart.png') left top;
    content: "";
}
.cart__link{
    display: block;
    width: 100%;
    height:50px;
}
.cart__count{
    position: absolute;
    font-size:12px;
    top: 5px;
    left: 25px;
    display: inline-block;
    height:20px;
    width: 20px;
    text-align: center;
    background-color: #ffc61a;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #271f5e;
    line-height:18px;
    font-family: "Circe Bold", sans-serif;
    transform: translate(0);
    transition: all 0.3s ease 0s;
}
.widget__cart:hover .cart__count{
    transform: translate(-11px, -15px);
    transition: all 0.3s ease 0s;
}
#jGrowl .ms2-message-success{
    background-color: rgba(47,53,135,0.9) !important;
    padding-left: 78px;
    font-size: 18px;
    font-family: "Circe Light", sans-serif;
    position: relative;
    min-width: 420px;
    min-height: 90px;
    box-sizing: border-box;
    line-height: 150%;
    padding-top: 19px;
}
#jGrowl .ms2-message-success:before{
    width: 28px;
    height: 38px;
    position: absolute;
    top: 23px;
    left: 24px;
    background: transparent url('/assets/template/images/promo/icon__cart.png') left top;
    content: "";
}
#jGrowl .ms2-message-success a{
    color: #fff;
}
#jGrowl .ms2-message-success a:hover{
    text-decoration: none;
}
#jGrowl.jGrowl.top-right {
    top: auto;
    right: auto;
    left: 10px !important;
    bottom: 10px !important;
}
.jGrowl-notification .jGrowl-close{
    position: absolute;
    right: 6px;
    top: 1px;
    font-size: 24px;
}

.cart-popup{
    min-width: 560px;
    position: relative;
    box-sizing: border-box;
}
.cart-popup * {
    box-sizing: border-box;
}
.cart-popup__body{
    min-height:305px;
    background-color: #629dcf;
    padding: 30px 20px;
    color: #fff;
}
.cart-popup__bottom{
    padding: 30px 20px;
    text-align: center;
}
.cart-popup__bottom .btn_rd_default span{
    text-transform: uppercase;
}
.cart-popup__linehor:before{
    position: absolute;
    height: 2px;
    background-color: #ededed;
    top: 5px;
    left: 5px;
    right: 5px;
    content: "";
}
.cart-popup__linehor:after{
    position: absolute;
    height: 2px;
    background-color: #ededed;
    bottom: 5px;
    left: 5px;
    right: 5px;
    content: "";
}
.cart-popup__linever:before{
    position: absolute;
    width: 2px;
    background-color: #ededed;
    top: 7px;
    left: 5px;
    bottom: 7px;
    content: "";
}
.cart-popup__linever:after{
    position: absolute;
    width: 2px;
    background-color: #ededed;
    top: 7px;
    right: 5px;
    bottom: 7px;
    content: "";
}

.popup-card__image{
    height: 160px;
    background-position: top center;
    background-size: cover;
    margin-bottom: 6px;
}
.popup-card__list{
    text-align: center;
}
.popup-card{
    display: inline-block;
    margin: 0 10px;
    width: 160px;
    vertical-align: top;

}
.cart-popup__header{
    font-size: 24px;
    font-family: "Circe Bold", sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.popup-card__caption {
    font-family: "Circe",sans-serif;
    font-size: 13px;
    line-height: 120%;
    height: 48px;
    overflow: hidden;
}