
.promo-category__list{
    margin-left: -15px;
    margin-right: -15px;
}
.promo-category__list *{
    box-sizing: border-box;
}
.promo-category__item{
    float: left;
    width: 33.3%;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
}
@media (max-width: 993px){
    .promo-category__item {
        float: none;
        width: 100%;
    }
}
.promo-category__card{
    max-width: 290px;
    height: 290px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
.promo-category__image{
    height: 100%;
    background-position: top center;
    background-size: cover;
}
.promo-category__item a{
    position: static;
}
.promo-category__item img{
    width: 100%;
}
.promo-category__list:after{
    clear: both;
    display: table;
    content: "";
}

.promo-category__caption{
    font-family: 'Circe Bold', sans-serif;
    font-size: 16px;
    text-align: center;
    padding-bottom: 3px;
    min-height: 32px;
    line-height: 110%;
    margin-bottom: 10px;
}
.promo-category__list-main .promo-category__caption{
    font-size: 22px;
    text-transform: uppercase;
    height: 70px;
    line-height: 70px;
}

.promo-category__info{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent url('/assets/template/images/promo/caption__gradient.png') top left repeat-x;
    color: #fff;
    padding: 45px 18px 12px;
    transition: all 0.3s ease 0s;
    opacity: 1;
    height: 100%;
    overflow: hidden;
    transform: translateY(204px);
}
.promo-category__card:hover .promo-category__info{
    height: 100%;
    background: rgba(47,53,135,0.75);
    transition: all 0.3s ease 0s;
    padding-top: 14px;
    transform: translateY(0);
}

.promo-category__card:hover .promo-category__caption{
    border-bottom: 1px #ffc61a solid;
    height: auto;
    line-height: normal;
}
.promo-category__list-main .promo-category__info{
    padding-top: 18px;
}
.promo-category__list-main .promo-category__info span{
    line-height: 120%;
    vertical-align: middle;
    display: inline-block;
}
.promo-category__list-main .promo-category__card:hover .promo-category__info{
    padding-top: 20px;
}
@media (max-width: 993px){
    .promo-category__card .promo-category__info{
        height: 100%;
        background: rgba(47,53,135,0.75);
        transition: all 0.3s ease 0s;
        padding-top: 20px;
        transform: translateY(0);
    }
    .promo-category__card .promo-category__caption{
        border-bottom: 1px #ffc61a solid;
    }
}
.promo-category__text {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: left;
    line-height: 130%;
}
.promo-category__card .promo-category__btn .btn_rd_default span{
    padding: 10px 26px 8px !important;
}
.promo-category__btn {
    bottom: 12px;
    left: 20px;
    position: absolute;
    right: 20px;
}
.promo-category__btn .btn_rd_default{
    width: 100%;
}
.promo-category__list-main .promo-category__btn .btn_rd_default{
    text-transform: uppercase;
}

.advantages__caption{
    text-align: center;
    color: #24a0d4;
    font-family: 'Circe Light';
    font-size: 28px;
    margin-bottom: 23px;
}
.advantages__service{
    margin-top: 43px;
    margin-left: 5px;
    margin-bottom: 27px;
}
.advantages__item{
    display: inline-block;
    text-align: center;
    width: 25%;
    vertical-align: top;
}
.advantages__name{
    font-family: 'Circe Light';
    color: #2f3587;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}
.advantages__signature{
    color: #24a0d4;
    font-family: "Circe Light";
    font-size: 16px;
    letter-spacing: 0.3px;
    margin-left: -3px;
    text-align: center;
}
.advantages__images{
    margin-bottom: 28px;
}
@media (max-width: 993px) {
    .advantages__item {
        width: 100%;
        margin-bottom: 30px;
    }
}

.promo-question__bg{
    background: transparent url("/assets/template/images/promo/promo-question__bg.jpg") repeat scroll 0 0;
    height: 290px;
    width: 290px;
}
.promo-question__title{
    color: #2f3587;
    font-family: "Circe Light";
    font-size: 22px;
    margin-bottom: 22px;
    padding-top: 34px;
    text-transform: uppercase;
}
.promo-question__image {
    background: transparent url("/assets/template/images/promo/promo-question__phone.png") repeat scroll 0 0;
    height: 84px;
    margin-bottom: 16px;
    margin-left: 112px;
    width: 78px;
}
.promo-question__lead {
    color: #2f3587;
    font-family: "Circe Light";
    font-size: 22px;
    padding-top: 16px;
}
.promo-question__card .btn_rd_default span {
    font-size: 18px;
    padding: 14px 25px !important;
}


.content ul.b-filter__list {
    margin-bottom: 15px;
    text-align: left;
    margin-top: -10px;
}
.b-filter__list .b-filter__item {
    width: auto;
}
.b-filter__list .b-filter__item:first-child {
    margin-right: 22px;
}
.b-filter__list .b-filter__item a{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #2f3587;
    display: inline-block;
    font: 18px "Circe Bold";
    margin: 5px 0 5px;
    padding: 5px 20px;
    text-decoration: none;
}
.b-filter__list .b-filter__item.active a {
    cursor: text;
}
.b-filter__list .b-filter__item.active a, .b-filter__list .b-filter__item:hover a {
    background: #2f3587 none repeat scroll 0 0;
    border: 1px solid #2f3587;
    color: #fff;
}

.product__card{

}
.product__foto{
    float: left;
    width: 50%;
    padding-right: 10px;
    box-sizing: border-box;
    margin-bottom: 84px;
}
.product__description{
    box-sizing: border-box;
    float: left;
    padding-left: 20px;
    padding-top: 3px;
    width: 50%;
}
.product__title{
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 21px;
    text-align: justify;
    color: #271f5e;
    font-family: 'Circe Bold';
}
.product__description p{
    color: #271f5e;
    font-size: 16px;
    line-height: 21px;
    text-align: justify;
    margin-bottom: 24px;
    font-family:'Circe Light';
    margin-top: 0;
}
.product__material{
    color: #271f5e;
    font-size: 16px;
    line-height: 11px;
    margin-bottom: 14px;
    text-align: justify;
    font-family:'Circe Light';
}
.product__value{
    margin-bottom: 33px;
}

.logo__title{
    color: #271f5e;
    font-family: "Circe Bold";
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 23px;
    padding-left: 44px;
    position: relative;
    text-align: justify;
    text-transform: uppercase;
}
.logo__title::before {
    content: "";
    display: block;
    height: 31px;
    left: 0;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    width: 37px;
    background: transparent url("/temp/logo2.png")
}
.table__price td{
    text-align: left;
    padding: 3px;
    table-layout: fixed;
    width: 1%;
}
.table__price tr:first-child{
    background: #269cd8 none repeat scroll 0 0;
    font: 20px "Circe Bold";
    height: 20px;
}
.table__price tr:nth-child(even){
    background: #eaf4f9 none repeat scroll 0 0;
    font-size: 18px;
    height: 50px;
}
.table__price tr:nth-child(2n+3){
    background: white none repeat scroll 0 0;
    font-size: 18px;
    height: 50px;
}
.table__price tr:first-child td {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    font-family: 'Circe Light';
    height: 43px;
    line-height: 125%;
}

.table__price table{
    border: 1px #269cd8 solid;
}
.td__oneline{
    display: block;
    font-family: 'Circe Bold';
    font-weight: bold;
}
.product__card .content a{
    color: #008ad1;
    font-size: 18px;
    height: -48px;
    margin-left: 19px;
    position: relative;
    width: 284px;
}
@media (max-width: 993px){
    .product__foto{
        float: none;
        width: 100%;
    }
    .product__description{
        float: none;
        width: 100%;
    }
}
.related__header{
    color: #2f3587;
    font: 22px 'Circe Bold', sans-serif;
    margin: 0 -2px 23px;
    text-transform: uppercase;
}
@media (max-width: 993px){
    .related__header{
        font-size: 18px;
        text-align: center;
    }
}
.preview__analog{
    display: inline-block;
    text-align: center;
    position: relative;
}
.analog__name{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: transparent url('/assets/template/images/caption__gradient.png') left bottom repeat-x;
    color: white;
    line-height: 100%;
    font-family: 'Circe Bold', sans-serif;
    font-size: 18px;
    padding-top: 28px;
    box-sizing: border-box;
}
.analog__name .name__inside{
    display: inline-block;
    line-height: 120%;
}

.product__bigfoto img{
    width: 100%;
}
.product__smallfotos{
    text-align: center;
}
.product__smallfoto{
    display: inline-block;
    text-align: center;
    margin: 0 3px;
    width: 100px;
    height: 100px;
    position: relative;
    background-size: cover;
    background-position: 0 center;
    cursor: pointer;
}
.product__smallfoto a{
    outline: none;
}
.product__smallfoto a img{
    position: relative;
}
.product__smallfoto.active:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left:0;
    border: 2px solid #269cd8;
    z-index: 100;
}
@media (max-width: 993px){
    .product__smallfoto{
        width: 50px;
        height: 50px;
    }
    .product__foto{
        margin-bottom: 25px;
    }
}

.related__carousel{
    display: none;
    padding: 0 35px;
    box-sizing: border-box;
}
.related__.owl-carousel{
    display: block;
}
.related__.owl-carousel .owl-item{
    text-align: center;
}
.slider__arrow{
    display: block;
    height: 32px;
    margin-top: -16px;
    position: absolute;
    width: 24px;
    top: 50%;
    z-index: 100;
    color: transparent;
    border: 0 none;
    margin-bottom: 20px;
}
.slider__arrow--prev{
    left: 0;
    top: 132px;
    background: transparent url('/assets/template/images/promo/prev.png');
}
.slider__arrow--next{
    right: 0;
    top: 132px;
    background: transparent url('/assets/template/images/promo/next.png');
}
.related__carousel .slick-arrow {
    display: block;
    height: 32px;
    margin-top: -16px;
    position: absolute;
    width: 20px;
    top: 50%;
    z-index: 100;
    color: transparent;
    border: 0 none;
    margin-bottom: 20px;
}
.related__carousel .slick-prev{
    left: 0;
    top: 132px;
    background: transparent url('/assets/template/images/promo/prev.png');
}
.related__carousel .slick-next{
    right: 0;
    top: 132px;
    background: transparent url('/assets/template/images/promo/next.png');
}
.related__carousel.slick-initialized .slick-slide{
    text-align: center;
}
.product__description .btn_rd_default{
    height: 51px;
    text-transform: uppercase;
    width: 284px;
    margin-bottom: 18px;
}
.product__description .btn_rd_default span{
    font-size: 18px;
    line-height: 28px;
}
.button__contact {
    text-align: center;
}
.button__contact .btn_rd_default {
    width: 244px;
}
.button__contact .btn_rd_default span {
    height: 38px;
    line-height: 38px;
}
.property__item {
    margin-bottom: 10px;
}
.property__key {
    color: #271f5e;
    font-family: "Circe Bold",sans-serif;
    font-size: 16px;
}

.property__value {
    color: #271f5e;
    font-family: "Circe Light";
    font-size: 16px;
}
.color__item.active {
    border: 1px solid #ffc61a
}
.color__item {
    display: inline-block;
    height: 20px;
    margin-right: 6px;
    transition: all 0.2s ease 0s;
    width: 20px;
    vertical-align: middle;
    left: 7px;
    border: 1px solid #269cd8
}
.color__item--1{
    background-color:#2ab4d6;
}
.color__item--2{
    background-color:#b2b5e5;
}
.color__item--3{
    background-color:#64c346;
}
.color__item--4{
    background-color:#f71e5b;
}
.color__item--5{
    background-color:#faf0da;
}
.color__item--6{
    background-color:#ebd807;
}

.form-block {
    margin-top: 24px;
}



.promo-product__list *{
    box-sizing: border-box;
}
.promo-product__list {
    margin-left: -15px;
    margin-right: -15px;
}
.promo-product__item{
    float: left;
    width: 33.3%;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
}

@media (max-width: 993px){
    .promo-product__item {
        float: none;
        width: 100%;
    }
}


.promo-product__card{
    max-width: 290px;
    height: 290px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}


.promo-product__image{
    height: 100%;
    background-position: center top;
    background-size: cover;
}
.promo-product__item a{
    position: static;
}
.promo-product__item img{
    width: 100%;
}
.promo-product__list:after{
    clear: both;
    display: table;
    content: "";
}

.promo-product__caption{
    font-family: 'Circe Bold', sans-serif;
    font-size: 16px;
    text-align: center;
    padding-bottom: 3px;
    min-height: 32px;
    line-height: 110%;
    margin-bottom: 10px;
}
.promo-product__info{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent url('/assets/template/images/promo/caption__gradient.png') top left repeat-x;
    color: #fff;
    padding: 45px 18px 12px;
    transition: all 0.3s ease 0s;
    opacity: 1;
    height: 100%;
    overflow: hidden;
    transform: translateY(204px);
}
.promo-product__card:hover .promo-product__info{
    height: 100%;
    background: rgba(47,53,135,0.75);
    transition: all 0.3s ease 0s;
    padding-top: 14px;
    transform: translateY(0);
}

.promo-product__card:hover .promo-product__caption{
    border-bottom: 1px #ffc61a solid;
}
@media (max-width: 993px){
    .promo-product__card .promo-product__info{
        height: 100%;
        background: rgba(47,53,135,0.75);
        transition: all 0.3s ease 0s;
        padding-top: 20px;
        transform: translateY(0);
    }
    .promo-product__card .promo-product__caption{
        border-bottom: 1px #ffc61a solid;
    }
}
.promo-product__text {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: left;
    line-height: 130%;
}
.promo-product__card .promo-product__btn .btn_rd_default span{
    padding: 10px 26px 8px !important;
}
.promo-product__btn {
    bottom: 12px;
    left: 20px;
    position: absolute;
    right: 20px;
}
.promo-product__btn .btn_rd_default{
    width: 100%;
}


/*Для карусели owl отключаем свойства*/
.owl-item .promo-product__item{
    float: none;
    width: auto;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
}
.owl-item .promo-product__card{
    max-width: 270px;
    height: 270px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
.owl-item .promo-product__info{
    transform: translateY(184px);
    /*padding-top: 14px;*/
}
@media (max-width: 993px){
    .owl-item .promo-product__info {
        transform: translateY(0);
        padding-top: 14px;
    }
}
.widget__cart *{
    box-sizing: border-box;
}
.widget__cart{
    width: 60px;
    height: 50px;
    position: fixed;
    right: -10px;
    top: 50%;
    margin-top: -115px;
    border-radius: 5px;
    background-color: #269cd8;
    border: 1px solid #2791c7;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 100;
}

.widget__cart:before{
    width: 28px;
    height: 38px;
    position: absolute;
    top: 5px;
    left: 10px;
    background: transparent url('/assets/template/images/promo/icon__cart.png') left top;
    content: "";
}
.cart__link{
    display: block;
    width: 100%;
    height:50px;
}
.cart__count{
    position: absolute;
    font-size:12px;
    top: 5px;
    left: 25px;
    display: inline-block;
    height:20px;
    width: 20px;
    text-align: center;
    background-color: #ffc61a;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #271f5e;
    line-height:18px;
    font-family: "Circe Bold", sans-serif;
    transform: translate(0);
    transition: all 0.3s ease 0s;
}
.widget__cart:hover .cart__count{
    transform: translate(-11px, -15px);
    transition: all 0.3s ease 0s;
}
#jGrowl .ms2-message-error,
#jGrowl .ms2-message-success{
    background-color: rgba(47,53,135,0.9) !important;
    padding-left: 78px;
    font-size: 18px;
    font-family: "Circe Light", sans-serif;
    position: relative;
    min-width: 420px;
    min-height: 90px;
    box-sizing: border-box;
    line-height: 150%;
    padding-top: 19px;
}
#jGrowl .ms2-message-success:before{
    width: 28px;
    height: 38px;
    position: absolute;
    top: 23px;
    left: 24px;
    background: transparent url('/assets/template/images/promo/icon__cart.png') left top;
    content: "";
}
#jGrowl .ms2-message-success a{
    color: #fff;
}
#jGrowl .ms2-message-success a:hover{
    text-decoration: none;
}
#jGrowl .ms2-message-error{
    min-height: 68px;
}
#jGrowl .ms2-message-error:before{
    width: 28px;
    height: 38px;
    position: absolute;
    left: 24px;
    font-size: 24px;
    content:"\f071";
    color: #fff;
    font-family: FontAwesome;
}


#jGrowl.jGrowl.top-right {
    top: auto;
    right: auto;
    left: 10px !important;
    bottom: 10px !important;
}
#jGrowl .ms2-message-error .jGrowl-close,
#jGrowl .ms2-message-success .jGrowl-close{
    position: absolute;
    right: 6px;
    top: 1px;
    font-size: 24px;
}

.cart-popup{
    min-width: 560px;
    position: relative;
    box-sizing: border-box;
}
.cart-popup * {
    box-sizing: border-box;
}
.cart-popup__body{
    min-height:305px;
    background-color: #629dcf;
    padding: 30px 20px;
    color: #fff;
}
.cart-popup__bottom{
    padding: 30px 20px;
    text-align: center;
}
.cart-popup__bottom .btn_rd_default span{
    text-transform: uppercase;
}
.cart-popup__linehor:before{
    position: absolute;
    height: 2px;
    background-color: #ededed;
    top: 5px;
    left: 5px;
    right: 5px;
    content: "";
}
.cart-popup__linehor:after{
    position: absolute;
    height: 2px;
    background-color: #ededed;
    bottom: 5px;
    left: 5px;
    right: 5px;
    content: "";
}
.cart-popup__linever:before{
    position: absolute;
    width: 2px;
    background-color: #ededed;
    top: 7px;
    left: 5px;
    bottom: 7px;
    content: "";
}
.cart-popup__linever:after{
    position: absolute;
    width: 2px;
    background-color: #ededed;
    top: 7px;
    right: 5px;
    bottom: 7px;
    content: "";
}

.popup-card__image{
    height: 160px;
    background-position: top center;
    background-size: cover;
    margin-bottom: 6px;
}
.popup-card__list{
    text-align: center;
    width: 600px;
    padding: 0 20px;
}

.popup-card{
    display: inline-block;
    margin: 0 10px;
    width: 160px;
    vertical-align: top;
    position: relative;

}
.cart-popup__header{
    font-size: 24px;
    font-family: "Circe Bold", sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.popup-card__caption {
    font-family: "Circe",sans-serif;
    font-size: 13px;
    line-height: 120%;
    height: 48px;
    overflow: hidden;
}
.popup-card__remove{
    position: absolute;
    top: 3px;
    right: 3px;
    width: 24px;
    height: 24px;
    background: transparent url('/assets/template/images/promo/popup-card__close.jpg') left top no-repeat;
    border: 0 none;
}
.popup-card__remove:hover {
    background: transparent url('/assets/template/images/promo/popup-card__close.jpg') right top no-repeat;
}
.popup-card__arrow{
    border: 0 none;
    color: transparent;
    display: block;
    height: 24px;
    margin-bottom: 20px;
    position: absolute;
    width: 14px;
    z-index: 100;
}
.popup-card__arrow--prev {
    background: transparent url("/assets/template/images/promo/popup-card__arrows.png") left top no-repeat;
    left: 0px;
    top: 75px;
}
.popup-card__arrow--next {
    background: transparent url("/assets/template/images/promo/popup-card__arrows.png") right top no-repeat;
    right: 0px;
    top: 75px;
}
@media (max-width: 993px){
    .popup-card__list {
        width: 220px;
        margin-left: auto;
        margin-right: auto;
    }
    .cart-popup{
        min-width: auto;
    }
    .popup-card{
    }
    .cart-popup__header{
        font-size: 18px;
        line-height: 110%;
    }
    .cart-popup__body{
        padding-bottom: 0;
    }
}


.p-order {
    margin-bottom: 30px;
}
.order__count {
    color: #2f3587;
    font-size: 18px;
    margin-bottom: 22px;
}
.order__count span{
    font-weight:bold;
}



.order__list * {
    box-sizing: border-box;
}
.order__list {
    margin-left: -15px;
    margin-right: -15px;
}
.order__list::after {
    clear: both;
    content: "";
    display: table;
}
.order__item {
    float: left;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    width: 33.3%;
}
.order__card {
    height: 290px;
    margin: 0 auto;
    max-width: 290px;
    overflow: hidden;
    position: relative;
}
.order__image {
    background-position: 0 center;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.order__info {
    background: transparent url("/assets/template/images/promo/caption__gradient.png") repeat-x scroll left top;
    bottom: 0;
    color: #fff;
    display: block;
    height: 100%;
    left: 0;
    opacity: 1;
    overflow: hidden;
    padding: 45px 18px 12px;
    position: absolute;
    right: 0;
    transform: translateY(204px);
    transition: all 0.3s ease 0s;
}

.order__caption {
    font-family: "Circe Bold",sans-serif;
    font-size: 16px;
    line-height: 110%;
    margin-bottom: 10px;
    min-height: 32px;
    padding-bottom: 3px;
    text-align: center;
}
.order-form *{
    box-sizing: border-box;
}
.order-form textarea,
.order-form input[type="text"]{
    background-color: #fff;
    border: 1px solid #2a9ed9;
    color: #92acb6;
    font-size: 20px;
    height: 54px;
    line-height: 54px;
    margin-bottom: 16px;
    padding: 0 14px;
    width: 100%;
    max-width: 405px;
}
.order-form textarea{
    height: 194px;
}
.order-form__left{
    width: 50%;
    float: left;
    padding-right: 20px;
}
.order-form__right{
    width: 50%;
    float: left;
    padding-left: 20px;
}
.order-form__border{
    border-left: 2px solid #2a9ed9;
    border-right: 2px solid #2a9ed9;
    border-bottom: 2px solid #2a9ed9;
    padding: 2px;
    position: relative;
    clear: both;
}
.order-form__border:before{
    position: absolute;
    left: -2px;
    top: -2px;
    height: 2px;
    background-color: #2a9ed9;
    width: 189px;
    content: "";
}
.order-form__border:after{
    position: absolute;
    right: -2px;
    top: -2px;
    height: 2px;
    background-color: #2a9ed9;
    width: 189px;
    content: "";
}
.order-form{
    border-left: 1px solid #2a9ed9;
    border-right: 1px solid #2a9ed9;
    border-bottom: 1px solid #2a9ed9;
    padding: 20px 25px;
    position: relative;
}
.order-form:before{
    position: absolute;
    left: -1px;
    top: -1px;
    height: 1px;
    background-color: #2a9ed9;
    width: 185px;
    content: "";
}
.order-form:after{
    position: absolute;
    right: -1px;
    top: -1px;
    height: 1px;
    background-color: #2a9ed9;
    width: 185px;
    content: "";
}
.order-form__header{
    text-align: center;
    text-transform: uppercase;
    font-family: "Circe Bold";
    font-size: 22px;
    color: #2f3587;
    margin-top: -31px;
    clear: both;
    margin-bottom: 14px;
}
.order-form__lead{
    text-align: center;
    color: #2f3587;
    font-size: 14px;
}
.order-form #msOrder {
    margin-top: 22px;
}
.order-form__submit{
    text-align: center;
}
.order-form__submit .btn_rd_default{
    text-transform: uppercase;
    width: 290px;;
}
.order-form__submit .btn_rd_default span{
    padding: 14px 10px !important;
}
.order-form__personal,
.order-form__personal a{
    font-size: 13px;
    text-align: center;
    margin-bottom: 14px;
}
.order-form__personal a{
    font-size: 13px;
    text-align: center;
}
@media (max-width: 993px){
    .order__item{
        float: none;
        width: 100%;
    }
    .order-form__border,
    .order-form{
        border: 0 none;
        padding: 0;
    }
    .order-form__border:before,
    .order-form__border:after,
    .order-form:before,
    .order-form:after{
        display: none;
    }
    .order-form__header{
        font-size: 18px;
        line-height: 120%;
    }
    .order-form__left,
    .order-form__right{
        float: none;
        width: 100%;
        padding: 0;
    }
}

.content ul.category-menu__list {
    margin-bottom: 15px;
    margin-top: 0;
    text-align: left;
    width: 100%;
}
.category-menu__list .category-menu__item {
    float: left;
    text-align: center;
    vertical-align: top;
    width: auto;
    margin-right: 20px;
}
.category-menu__list .category-menu__item:last-child {
    margin-right: 0px;
}
.category-menu__list .category-menu__item a{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #2f3587;
    color: #2f3587;
    display: inline-block;
    font: 18px "Circe Bold";
    margin: 5px 0 5px;
    padding: 5px 20px;
    text-decoration: none;
}
.category-menu__list .category-menu__item.active a {
    cursor: text;
}
.category-menu__list .category-menu__item.active a, .category-menu__list .category-menu__item:hover a {
    background: #2f3587 none repeat scroll 0 0;
    border: 1px solid #2f3587;
    color: #fff;
}
.category-menu__list:after{
    content: "";
    display: table;
    clear: both;
}